@charset "UTF-8";

@font-face {
    font-family: 'PureJeonnam';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/PureunJeonnam.woff') format('woff');
    font-weight: medium;
    font-display: swap;
}

.mochiy-pop-p-one-regular {
  font-family: "Mochiy Pop P One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

