@charset "UTF-8";

body { overflow-x: hidden; font-family: 'PureJeonnam', sans-serif;  }
.inner { max-width: 1440px; margin: 0 auto;}
#header { position: absolute; z-index: 10; height: 100px; width: 100vw; z-index: 99;}

#header ul { display: flex; justify-content: center; gap: 80px;  align-items: center; height: 100%; }

#header ul li a {display: inline-block; font-size: 2rem; color: #fff; padding: 10px 30px; border: 1px solid rgba(255, 255, 255, .0); font-weight: 600; }
#header ul li a:hover { transition: background 0.5s; background: rgba(255, 255, 255, .1);
box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); border-radius: 50px; border: 1px solid rgba(255, 255, 255, .5); border-right: 1px solid rgba(255, 255, 255, .2); border-bottom: 1px solid rgba(255, 255, 255, .2); backdrop-filter: blur(10px);}

#header ul li a.active { transition: background 0.5s; background: rgba(255, 255, 255, .1);
box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); border-radius: 50px; border: 1px solid rgba(255, 255, 255, .5); border-right: 1px solid rgba(255, 255, 255, .2); border-bottom: 1px solid rgba(255, 255, 255, .2); backdrop-filter: blur(10px);}

.visual { width: 100vw; height: 920px; background: linear-gradient(to bottom , #47724F 0%, #427457 60%, #254131 100%); position: relative; }

.title{
  width:846px;
  height:284px;

  position:absolute;
  left:50%;
  top:40%;
  transform:translate(-50%,-50%);


  mask-image:url("../image/visual/title.svg");
  -webkit-mask-image:url("../image/visual/title.svg");
  mask-size:contain;
  -webkit-mask-size:contain;
  mask-repeat:no-repeat;
  -webkit-mask-repeat:no-repeat;

  background: url(../image/visual/title.svg)no-repeat ;
}


.effect{
  width:130%;
  height:200%;
  background:linear-gradient(to bottom,transparent,#e8fff7,transparent);
  animation:Anime 2s linear infinite;
  position:absolute;
}

@keyframes Anime{
  0%{transform:translate(-100%,-100%) rotate(-45deg)}
  100%{transform:translate(100%,100%) rotate(-45deg)}
}



.star8_1 { position: absolute; right: 20%; top: 28%; animation: float1 4s ease-in-out infinite,
twinkle1 2.5s ease-in-out infinite;}
.star8_2 { position: absolute; left: 15%; bottom: 28%; animation: float2 6s ease-in-out infinite,
twinkle2 3s ease-in-out infinite; }
.star8_2 img { transform: scale(0.8); }

@keyframes float1 {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}

@keyframes float2 {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-18px); }
  100% { transform: translateY(0px); }
}

@keyframes twinkle1 {
  0%, 100% { opacity: 0.4; }
  50% { opacity: 1; }
}

@keyframes twinkle2 {
  0%, 100% { opacity: 0.5; }
  50% { opacity: 1; }
}
.hi_list {  position: absolute; left: 50%; bottom: 180px; text-align: center; transform: translateX(-50%); }
.star_4 { animation: rotate-bounce 3s ease-in-out infinite;
  transform-origin: center;}
.hi { padding-top: 30px;}

@keyframes rotate-bounce {
  0% {
    transform: rotate(0deg) scale(1);
    opacity: 1;
  }
  40% {
    transform: rotate(360deg) scale(0.8); 
    opacity: 0.7;
  }
  70% {
    transform: rotate(540deg) scale(1);
    opacity: 1;
  }
  100% {
    transform: rotate(540deg) scale(1);
    opacity: 1;
  }
  
}

.intro { font-size: 2rem; color: #fff; position: absolute; left: 50%; bottom: 50px; transform: translateX(-50%); }
.intro p { text-align: center; line-height: 150%; font-family: 'PureJeonnam'; }/* 폰트 제대로 확인! */

/* best */
.best { background: linear-gradient(to bottom , #254131 0%, #427457 37%, #254131 100%); padding: 100px 0 100px 0;}
.best h3 { font-family: "Mochiy Pop P One"; font-size: 4rem; color: #fff; margin-bottom: 30px; margin-bottom: 30px; margin-left: 20px; }
.best_list { display: flex; gap: 50px;}
.best_list > div { border-radius: 50px; }
.b_left { width: 524px; height: 650px;}
.b_right { width: 818px; height: 650px;}

/* about */
.about_title { display: flex; justify-content: center; padding-top: 200px; padding-bottom: 100px; position: relative; }
.about_title img {display: block; width: 100%; max-width: 720px; height: auto;}
.about_title::before { content: ''; background-image: url(../image/visual/star_8_mini.png);  background-size: contain;   background-repeat: no-repeat; width: 77px; height: 77px; position: absolute; left: 20%; top: 130px; animation: float1 4s ease-in-out infinite,
twinkle1 2.5s ease-in-out infinite; }

.name_list { display: flex; gap: 100px; align-items: center; margin-bottom: 100px; justify-content: center;}
.face { width: 255px; height: 280px; background: url(../image/me/jeongin.png) no-repeat center/cover ; border-radius: 150px 150px 0 0; border: 3px solid #A7E0C2;}

.name dt { color: #90DCC2; font-size: 4rem; display: flex; gap: 20px; margin-bottom: 30px;}
.name dd { color: #fff; font-size: 2rem; line-height: 150%;}

/* 카드 */
.profile-grid {
  padding: 40px 20px;
  display: grid;
  grid-template-columns:repeat(7, 1fr);
  grid-template-rows: auto;
  grid-template-areas: 'a a a b b b b' 'c c c c d d d';
  gap: 40px;
}

/* 카드 기본 */
.card {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50px;
  padding: 50px;
  color: #fff;
}

.card h2 {
  font-size: 4rem;
  margin-bottom: 24px;
  color: #90DCC2;
}

/* 스킬 아이콘 */
.skill-icons {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4개씩 */
  gap: 20px;
  margin-top: 20px;
  justify-items: center;   /* 아이콘 가운데 정렬 */
  align-items: center;
}

.skill-icons img {
  width: 60px;
  height: auto;
}

.skill { grid-area: a;}
.career { grid-area: b;}
.edu { grid-area: c;}
.cert { grid-area: d;}

.career ul { height: 120px; overflow-y: scroll; }
.career ul::-webkit-scrollbar { width: 3px;}
.career ul::-webkit-scrollbar-thumb { height: 15%; background-color: #90DCC2; border-radius: 10px;}
.career ul::-webkit-scrollbar-track { background: rgba(255, 255, 255, .1);}
.career ul li { padding-right: 20px;}

.cert ul { height: 138px; overflow-y: scroll;}
.cert ul::-webkit-scrollbar { width: 3px;}
.cert ul::-webkit-scrollbar-thumb { height: 15%; background-color: #90DCC2; border-radius: 10px;}
.cert ul::-webkit-scrollbar-track { background: rgba(255, 255, 255, .2);}
.cert ul li { padding-right: 20px;}

/* 리스트 공통 */

.card li {
  display: flex;
  justify-content: space-between;
  padding: 7px 0;
  gap: 20px;
  font-size: 2rem;
}

.card li span:first-child {
  font-weight: 500;
}

/* 교육, 자격증은 2줄 구조 대응 */
.edu li,
.cert li {
  display: flex;
  justify-content: space-between;
  line-height: 1.5;
  gap: 20px;
}

.edu_t { text-align: right;}
.edu li span p { font-size: 1.6rem; }

/* project */
.project { background: linear-gradient( to bottom,  #254131 0%, #47724F 100% ); padding-bottom: 100px;}
.project .inner { margin-bottom: 150px;}
.project_title { display: flex; justify-content: center; padding-top: 200px; padding-bottom: 100px; position: relative;}
.project_title img { display: block; width: 100%; max-width: 416px; height: auto;}
.project_title::before { content: ''; background-image: url(../image/visual/star_8_mini.png);  background-size: contain;   background-repeat: no-repeat; width: 77px; height: 77px; position: absolute; left: 33%; top: 150px; animation: float1 4s ease-in-out infinite,
twinkle1 2.5s ease-in-out infinite; }
.project_title::after {
  content: '';
  position: absolute;
  right: 35%;
  top: 250px;
  width: 50px;    
  height: 50px;   
  background-image: url(../image/visual/star_8_mini.png);
  background-size: contain; 
  background-repeat: no-repeat;
  animation: float1 3s ease-in-out infinite,
             twinkle1 2s ease-in-out infinite;
}


.project h3 { font-family: "Mochiy Pop P One"; font-size: 4rem; color: #fff; margin-bottom: 30px;}
.web_list { display: flex; gap: 50px;}
.web_list img { width: 100%;}
.knotted_list, .isam_list, .app_list, .bxbi_list, .team_list { border-radius: 51px;  }
.web_txt h4 { font-family: "Mochiy Pop P One"; font-size: 3.2rem; color: #90DCC2; margin-bottom: 20px; padding-top: 25px;}
.web_txt { font-size: 2rem; color: #fff; font-family: 'PureJeonnam'; }
.web_txt span { font-weight: bold;}
.web_txt p { margin-top: 15px; line-height: 1.5;}

/* 버튼 공통 */
.btn_set { display: flex; gap: 20px; margin-top: 30px; }
.btn_set button {display: inline-block; border-radius: 50px; font-family: "Mochiy Pop P One"; height: 40px; width: 215px; background: #427457; color: #fff; font-size: 1.6rem; border: 1px solid rgba(0,0,0,0.21);
	border-bottom-color: rgba(0,0,0,0.34);
	text-shadow:0 1px 0 rgba(0,0,0,0.15);
	box-shadow: 0 0.5px 0 rgba(255,255,255,0.34) inset, 
				      0 2px 0 -1px rgba(0,0,0,0.13), 
				      0 3px 0 -1px rgba(0,0,0,0.08), 
				      0 3px 10px -1px rgba(0,0,0,0.21);}

.btn_set button:hover { top: 1px;
	border-color: rgba(0,0,0,0.34) rgba(0,0,0,0.21) rgba(0,0,0,0.21);
	box-shadow: 0 0.5px 0 rgba(255,255,255,0.89),0 1px rgba(0,0,0,0.05) inset;
	position: relative;}    

  /* knotted_list */
  .knotted_list, .isam_list { width: calc((1440px - 50px) / 2); height: 443px;}
  .knotted_list img { width: 100%; height: 100%;}
  .isam_list img { width: 100%; height: 100%; }
  
  /* team */
.team_re h3 { text-align: center;}
.team_list img { border-radius: 50px; width: 100%;}

/* app */
.app_con { display: flex; justify-content: start; gap: 100px; align-items: center;}
.app_list { margin-left: 0; margin-right: 0; width: 714px; height: 605px;}
.app_list img { width: 100%; height: 100%; object-fit: cover;}

/* bxbi */
.bxbi_re h3 { text-align: right;}
.bxbi_con { display: flex; justify-content: end; gap: 100px; align-items: center;}
.bxbi_txt { text-align: right;}
.bxbi_txt .btn_set { justify-content: right;}
.bxbi_list { margin-right: 0; margin-left: 0; width: 714px; height: 605px;}



/* modal */
.modal {
  display:none;
  position:fixed;
  inset:0;
  background:rgba(0,0,0,0.8);
  z-index:9999;
  justify-content:center;
  align-items:center;
}

.modal-content{
  width:80%;
  max-height:90vh;
  overflow-y:auto;
  position:relative;
}

.modal img{
  width:100%;
  display:block;
  margin-bottom:20px;
}

/* 닫기버튼 */
.modal .close{
  position:fixed;  
  top:30px;
  right:100px;
  color:#fff;
  font-size:5rem;
  cursor:pointer;
  z-index:999; 
}


/* #footer  */
#footer { padding: 50px 0 100px 0; background: linear-gradient( to top,  #254131 0%, #47724F 100% );}

#footer h1 {
  height: 100px; text-align: center;
}

#footer h1 span {
  position: relative;
  top: 5px; 
  display: inline-block;
  animation: bounce 0.3s ease infinite alternate;
  font-family: 'Titan One', cursive;
  font-size: 2rem;
  color: #A7E0C2; /* 글자색 */
  text-shadow: 
      0 1px 0 #3B8C70,
      0 2px 0 #3B8C70,
      0 3px 0 #3B8C70,
      0 4px 0 #3B8C70,
      0 5px 0 #3B8C70,
      0 6px 0 rgba(0, 0, 0, 0.25),
      0 7px 0 rgba(0, 0, 0, 0.2),
      0 8px 0 rgba(0, 0, 0, 0.15),
      0 9px 0 rgba(0, 0, 0, 0.1),
      0 25px 12px rgba(0, 0, 0, 0.3); /* 그림자 깊이 */
}

/* 바운스 애니메이션 */
@keyframes bounce {
  100% {
    top: -5px;
    text-shadow: 
        0 1px 0 #3B8C70,
        0 2px 0 #3B8C70,
        0 3px 0 #3B8C70,
        0 4px 0 #3B8C70,
        0 5px 0 #3B8C70,
        0 6px 0 rgba(0, 0, 0, 0.25),
        0 7px 0 rgba(0, 0, 0, 0.2),
        0 8px 0 rgba(0, 0, 0, 0.15),
        0 9px 0 rgba(0, 0, 0, 0.1),
        0 25px 12px rgba(0, 0, 0, 0.3);
  }
}

#footer .info { font-size: 1.6rem; margin-bottom: 50px ;  text-align: center; color: #fff;}
#footer .info dt { font-size: 2.8rem; font-weight: 600; margin-bottom: 30px; }
#footer .info dd { font-size: 2rem; display: block; margin-bottom: 15px; }
#footer .info dd span{ font-weight: 600; margin-right: 20px;}

#footer .bye { text-align: center; color: rgba(255, 255, 255, 0.8); font-size: 1.6rem; line-height: 1.5; font-weight: 600;letter-spacing: 1px; }

.gotop { position: fixed; bottom: 100px; right: 50px; cursor: pointer;}
.gotop img { width: 100%; height: 100%;}





